
/* ------- GLOBAL STYLE ------- */

:root {
    --background-color: #efded6;
    --block-color: #eaeef1;
    --item-color: #ffdbb3;
    --title-font-color: #670c19;
    --text-font-color: #430C15;
    --main-shadow: 3px 5px 8px rgb(173, 173, 173);
    --border: 2px solid #430C15;
    --link-color: rgb(255, 80, 80);
    --title-font: 'PT Sans', Sans-Serif;
    --text-font: 'Fira Sans', Sans-Serif;
}
[data-theme='dark'] {
    --background-color: #101026;
    --block-color: #1c3345;
    --item-color: #030349;
    --title-font-color: #a1bcf3;
    --text-font-color: #ebf8f8;
    --main-shadow: 3px 5px 8px rgb(42, 56, 101);
    --border: 2px solid #a1bcf3;
    --link-color: rgb(106, 240, 255);
    --up-arrow-image: 
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
h1 {
    font-size: 1.8rem;
    font-weight: 400;
    font-family: var(--title-font);
    color: var(--title-font-color)
}
h2 {
    font-size: 1.6rem;
    font-family: var(--title-font);
    color: var(--title-font-color)
}
h3 {
    font-size: 1.4rem;
    font-family: var(--title-font);
    margin: 1rem;
    padding: 0;
    color: var(--text-font-color)
}
h4 {
    font-size: 1.2rem;
    margin: 0;
    color: var(--text-font-color);
    font-family: var(--text-font);
}
p {
    font-size: 1rem;
    color: var(--text-font-color);
    font-family: var(--text-font);
    margin: 0;
}

a {
    color: var(--link-color);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

::-webkit-scrollbar {
    display: none
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 1.3rem;
        font-weight: 700;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    h4 {
        font-size: 1rem;
    }
    p {
        font-size: 0.9rem;
    }
}

.app {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

/* ------- NAVBAR SECTION ------- */

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--block-color);
    box-shadow: var(--main-shadow);
}
header .logo {
    max-height: 60%;
    margin-left: 5%;
    cursor: pointer;
}
header .search-section {
    width: 25%;
    height: 50%;
}
header .search-section input {
    height: 100%;
    width: 85%;
    padding-left: 20px;
    border-radius: 20px 0px 0px 20px;
    border: none;
    background-color: white;
}
header .search-section button {
    width: 15%;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    border: none;
    background-color: white;
    cursor: pointer;
}
header .search-section button img {
   height: 30%;
}
header .filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}
header .filters h2{
    cursor: pointer;
}
header .dark-mode {
    height: 50%;
    margin-right: 2rem;
    cursor: pointer;
}
header .dark-mode input {
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
}

.route {
    margin-top: 1rem;
    padding: 0 2rem;
    background-color: var(--block-color);
    box-shadow: var(--main-shadow);
    text-align: center;
}
.route h3 {
    margin: 0.5rem;
}

@media only screen and (max-width: 400px) {
    header {
        height: 7vh;
    }
    header .logo {
        max-height: 50%;
        margin-left: 3%;
    }
    header .dark-mode {
        height: 40%;
        margin-right: 1rem;
    }
    header .filters h2 {
        font-size: 1rem;
    }
    .route {
        margin-top: 0.5rem;
        padding: 0 1rem;
        background-color: var(--block-color);
        box-shadow: var(--main-shadow);
        text-align: center;
    }
    .route h3 {
        margin: 0.2rem;
    }
}

/* ------- CATEGORY SECTION ------- */

.category-section {
    position: fixed;
    height: 80%;
    top: 10%;
    right: -185px;
    display: flex;
    align-items: center;
    transition: all 1s;
}
.r {
    background-color: var( --item-color);
    box-shadow: var(--main-shadow);
    border: var(--border);
    border-radius: 40px;
    padding: 0.4rem 1rem;
    margin-right: 10px;
    cursor: pointer;
}
.category-section:hover {
    transform: translate(-75%);
}
.category-item {
    background-color: var( --item-color);
    box-shadow: var(--main-shadow);
    border: var(--border);
    border-radius: 40px;
    text-align: center;
    margin: 1rem;
}

.category-item h3 {
    padding: 0.1rem 0.8rem;
    margin: 0;
}
.category-item:hover {
    cursor: pointer;
    transform: scale(110%);
    transition: all 400ms;
}
.upArrow {
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
}
.upArrow img {
    width: 3.5rem;
}

@media only screen and (max-width: 700px) {
    .category-section {
        right: -135px
    }
    .category-item {
        margin: 0.5rem 0.3rem;
    }
}

/* ------- POST SECTION ------- */

.post-section {
    width: 90%;
}
.post-block {
    width: 100%;
    display: flex;
    margin: 1rem auto;
    padding: 0 3rem;
    background-color: var(--block-color);
    box-shadow: var(--main-shadow);
    flex-wrap: wrap;
}
.post-block .post-title {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
}
.post-block .post-content {
    margin: auto;
    max-height: 60vh;
    overflow-y: scroll;
    text-align: center;
    border-bottom: 2px solid black;
    text-align: justify;
    line-height: 1.5rem;
}
.post-image {
    margin: auto; 
    max-width: 90%;
    max-height: 80vh;
}
.post-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
}
.post-info .post-comments {
    color: var(--link-color);
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .post-block {
        padding: 0 2rem;
        background-color: var(--block-color);
        box-shadow: var(--main-shadow);
        flex-wrap: wrap;
    }
    .post-block .post-title {
        margin: 0.3rem auto;
    }
    .post-block .post-content {
        line-height: 1.3rem;
    }
    .post-info {
        display: contents;
        margin: auto;
    }
    .post-info h4 {
        margin: 0.3rem;
    }
}

/* ------- COMMENTS SECTION ------- */

.comment-item {
    padding: 1rem 1rem 0.1rem 1rem;
    margin: 1rem;
    background-color: white;
    box-shadow: var(--main-shadow)
}
.comment-block h2 {
    margin: 1rem;
}
.comment-item {
    background-color: var(--background-color);
}
.comment-item p {
    margin: 1rem;
    text-align: justify;
    line-height: 1.5rem;
}

@media only screen and (max-width: 700px) {
    .comment-item {
        padding: 0.5rem 0.5rem 0.1rem 0.5rem;
        margin: 1rem 0;
    }
    .comment-block h2 {
        margin: 0rem;
    }
    .comment-item p {
        margin: 0.5rem;
        line-height: 1.2rem;
    }
}
