html {
    background-color: beige;
    width: 100%;
    font-size: 16px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

.app {
    background-color: aqua;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    background-color: blueviolet;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
header .logo {
    width: 10rem;
}

.post-section {
    padding: 2rem;
    background-color: lightcyan;
    border: 1px solid red;
    width: 70%;
}

.post-block {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.post-block .post-title {
    width: 100%;
    margin: auto;
    text-align: center;
}
.post-block .post-votes {
    width: 20%;
}
.post-block .post-content {
    width: 100%;
    margin: auto;
    text-align: center;
}

.post-image {
    max-width: 90%;
}
.post-video {
    max-width: 90%;
}

.categories-section {
    position: fixed;
    top: 20%;
    right: 2%;
    z-index: 100;
    background-color: brown;
    border: 1px solid red;
    width: 15%;
}

.category-block:hover {
    cursor: pointer;
}

.comment-block {
    width: 100%;
}
